@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$font-soft-blue: hsl(215, 51%, 70%);
$font-cyan: hsl(178, 100%, 50%);

$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);

$white: hsl(0, 0%, 100%);


html, body {
  width: 100%;
  height: 100%;
  font-family: Outfit;
  background-color: $main-bg;
  color: $font-soft-blue;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 375px) {
  .card {
    width: 70%;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 20%
  }
}

.card {
  margin: auto;
  padding: 2em 2em 1em 2em;
  border-radius: 1em;
  background-color: $card-bg;
  box-shadow: 0em 1em 1em 1em hsl(215, 54%, 9%);
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.principalImg {
  cursor: pointer;
  width: 100%;
  height: auto;
  border-radius: .5em;
}

.overlay {
  border-radius: .5em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: hsla(178, 100%, 50%, 0.493);
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
  color: $white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.description {
  font-size: 18px !important;
}

h2, .creatorName {
  color: $white;
  cursor: pointer;
  &:hover {
    color: $font-cyan;
  }
}

.cyan {
  color: $font-cyan;
  font-weight: 600;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.cardInfo {
  padding-bottom: 1.5em;
  border-bottom: $line 1px solid;
}

.center {
  display: flex;
  align-items: center;
}

.cardInfo .center img {
  padding-right: 0.5em;
}

.clock {
  font-weight: 400;
}

.authorInfo {
  padding-top: 0.5em;
}

.authorInfo img {
  width: 2em;
  border: $white 1px solid;
  border-radius: 50%;
}

.author {
  padding-left: 1em;
}

.creatorName {
  padding-left: 0.2em;
}
